* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background: linear-gradient(rgb(39, 41, 68), rgb(48, 62, 143));
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #fff;
}

section {
	height: 100vh;
}

.score {
	color: #fff;
	height: 20vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.score h2 {
	font-size: 1.5rem;
}

.score p {
	font-size: 1rem;
	padding: .75rem;
	text-align: center;
}

.intro {
	height: 50vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.intro h3 {
	font-size: 3rem;
}

.intro button {
	color: #fff;
	font-size: 1rem;
	width: 150px;
	height: 50px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	background-color: rgb(21, 86, 146);
}

.match {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.match button {
	color: #fff;
	font-size: 1rem;
	width: 150px;
	height: 50px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	background-color: rgb(21, 86, 146);
}

.winner {
	text-align: center;
	font-size: 1.75rem;
}

.hands {
	display: flex;
	justify-content: space-around;
	align-content: center;
}

.hands .player-hand {
	transform: rotateY(180deg);
}

.options {
	display: flex;
	justify-content: space-around;
	align-content: center;
}

div.fadeOut {
	opacity: 0;
	pointer-events: none;
}

div.fadeIn {
	opacity: 1;
	pointer-events: all;
}