* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*::selection {
	color: #fff;
	background: #3a78d8;
}

*::-moz-selection {
	color: #fff;
	background: #3a78d8;
}

body {
	width: 100%;
	height: 100vh;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	background: linear-gradient(rgb(6, 59, 113), rgb(15, 35, 107));
}

header {
	margin: 2rem auto 0 auto;
	width: 90%;
	max-width: 600px;
	display: flex;
	flex-direction: column;
	align-items: center
}

header img.psswrd {
	width: auto;
	height: auto;
	margin: 0 auto;
}

header h1 {
	font-size: 1.5rem;
	letter-spacing: 0.1rem;
	margin: 2rem 0;
	color: #c4efff;
	text-shadow: 2px 2px 2px #063565;
}

header h1 .material-icons {
	position: relative;
	top: 2px;
}

.container {
	margin: 0 auto;
	width: 90%;
	max-width: 600px;
	height: auto;
}

.container form.app {
	margin: 0 auto;
}

.container form.app .fila {
	margin: 2rem 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.container form.app .col {
	flex: 1;
}

.container form.app label {
	line-height: 35px;
}

.container form.app input {
	text-align: center;
	border: none;
}

.container form.app .btn {
	width: 100%;
	height: 35px;
	color: #fff;
	border: none;
	vertical-align: top;
	font-size: 16px;
	text-align: center;
	background: #4721dc;
	border-radius: 4px;
	display: inline-block;
	cursor: pointer;
	transition: all .3s ease;
}

.container form.app .btn:hover {
	background-color: #3105ff;
}

.container form.app .btn.false {
	background-color: #2d0cb1;
}

.container form.app .numero-caracteres .botones {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.container form.app .numero-caracteres .botones div {
	width: 100%;
}

.container form.app .numero-caracteres .botones div:nth-child(1) button {
	border-radius: 4px 0 0 4px;
}

.container form.app .numero-caracteres input {
	width: 100%;
	height: 35px;
	cursor: default;
	color: #fff;
	background-color: #3105ff;
}

.container form.app .numero-caracteres .botones div:nth-child(3) button {
	border-radius: 0 4px 4px 0;
}

.container form.app .fila.generar {
	margin: 2rem 0 1rem 0;
}

.container form.app .fila.generar .col:nth-child(1) {
	flex: 1;

}

.container form.app .fila.generar .col:nth-child(2) {
	flex: 2;
}

.container form.app .fila.generar .btn.btn-generar {
	width: 100%;
	height: 35px;
	font-size: 1rem;
	padding: 0;
	line-height: 35px;
	position: relative;
}

.container form.app .fila.generar .btn.btn-generar:after {
	content: '';
	display: inline-block;
	width: 14px;
	height: 14px;
	background-color: #4722dc;
	transform: rotate(45deg);
	position: absolute;
	top: 9px;
	right: -7px;
	transition: all .3s ease;
}

.container form.app .fila.generar .btn.btn-generar:hover:after {
	background-color: #3105ff;
}

.container form.app .fila.generar .btn.btn-generar .material-icons {
	font-size: 1rem;
	position: relative;
	top: 1px
}