* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app {
	height: 100vh;
	justify-content: space-evenly;
	align-items: center;
}

video {
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	z-index: -10;
}

.player-container {
	position: relative;
	height: 40%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	flex: 1;
}

.player-container img {
	width: 10%;
}

.player-container svg {
	position: absolute;
	height: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(-90deg);
	pointer-events: none;
}

.player-container svg circle {
	transition: all 0.2s ease-in-out;
}

.time-display {
	color: #6994c3;
	position: absolute;
	font-size: 3em;
	bottom: 10%;
}

.time-select,
.sound-picker {
	margin: 2em 0 3em 0;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex: 1;
}

.time-select button,
.sound-picker button {
	color: #7b7b7b;
	width: 20%;
	height: 10%;
	background: none;
	font-size: 1.25em;
	border-radius: 5px;
	cursor: pointer;
	border: 2px solid#7b7b7b;
	transition: all 0.5s ease;
}

.time-select button:hover {
	background: white;
	color: black;
}

.sound-picker button {
	border: none;
	height: 120px;
	width: 120px;
	padding: 30px;
	border-radius: 50%;
}

.sound-picker button:nth-child(1) {
	background: #4972a1;
}

.sound-picker button:nth-child(2) {
	background: #a1504a;
}

.sound-picker button img {
	height: 100%;
}